<%- include ./partials/header.ejs %>

<%- include ./partials/navbar.ejs %>

<!-- Rendering Content of Page-->
<main>

  <!-- Home page -->
  <% if(title == "Home")  { %>
    <%- include ./mainBody/home.ejs %>
  <!-- About Me Page -->
  <% } else if(title == "About Me"){%>
    <%- include ./mainBody/aboutMe.ejs %>
  <!-- Projects Page -->
  <% } else if(title == "Projects"){%>
    <%- include ./mainBody/projects.ejs %>
  <!-- Services Page -->
  <% } else if(title == "services"){%>
    <%- include ./mainBody/services.ejs %>
  <!-- Contact Me Page-->
  <% } else if(title == "Contact Me"){%>
      <%- include ./mainBody/contact.ejs %>
  <% } %>

</main>

<%- include ./partials/footer.ejs %>
